$graph-height: 400px;

.graph-wrapper {
  position: relative;
  @media (min-width: 768px) {
    @include clearfix;
  }
}

.axis {
  @media (min-width: 768px) {
    float: left;
    width: 10%;
    height: $graph-height;
    padding-right: 10px;
    text-align: right;
  }
  .label {
    display: none;
    @media (min-width: 768px) {
      display: block;
      margin: 0 0 71px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.graph {
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-left: 100px;
  border-left: 1px solid #E6E7E8;

  @media (min-width: 768px) {
    float: left;
    height: $graph-height;
    width: 90%;
    margin-left: 0;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #E6E7E8;

    align-items: center;
    flex-flow: row wrap;
    align-content: flex-end;
    flex-direction: row-reverse;
  }

  .bar {
    background-color: #2E98d4;
    position: relative;
    margin: 10px 0;
    max-height: 40px;
    @media (min-width: 768px) {
      max-height: none;
      align-self: flex-end;
    }
    &.current {
      background-color: #00194B;
    }
  }

  .bar-value {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: -100px;
    &:before {
      content: attr(title);
      font-size: 16px;
      position: absolute;
      display: block;
      width: 100%;
      left: 60px;
      margin: 10px 0;
    }
    @media (min-width: 768px) {
      display: block;
      width: 100%;
      position: static;
      font-size: 0;
      &:before {
        bottom: -30px;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }
    .label,
    .value {
      @include sr-only;
    }
  }

  // Bar width depends on number of bars
  @media (min-width: 768px) {
    .bar:first-child:nth-last-child(1) {
      max-width: 100%;
    }

    @for $i from 2 through 12 {
      .bar:first-child:nth-last-child(#{$i}),
      .bar:first-child:nth-last-child(#{$i}) ~ .bar {
        max-width: (100/$i - 3)*1% !important;
        margin: 0 1.5%;
      }
    }
  }
}