$graph-height: 400px;

body {
  font-family: sans-serif;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@mixin awesome-gradient-left {
  background: #43cea2;
  background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);
  background: linear-gradient(to left, #43cea2 , #185a9d);
}
@mixin awesome-gradient-top {
  background: #43cea2;
  background: -webkit-linear-gradient(to bottom, #43cea2 , #185a9d);
  background: linear-gradient(to bottom, #43cea2 , #185a9d);
}
@mixin current-gradient-left {
  background: #3498db;
  background: -webkit-linear-gradient(to left, #3498db, #2c3e50);
  background: linear-gradient(to left, #3498db, #2c3e50);      
}
@mixin current-gradient-top {
  background: #3498db;
  background: -webkit-linear-gradient(to bottom, #3498db, #2c3e50);
  background: linear-gradient(to bottom, #3498db, #2c3e50);
}

.graph-wrapper {
  position: relative;
  @media (min-width: 768px) {
    @include clearfix;
  }
}

.axis {
  @media (min-width: 768px) {
    float: left;
    height: $graph-height;
    padding-right: 10px;
    text-align: right;
  }
  .label {
    display: none;
    @media (min-width: 768px) {
      display: block;
      margin: 0 0 71px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.graph {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-left: 100px;
  border-left: 1px solid #E6E7E8;

  @media (min-width: 768px) {
    float: left;
    height: $graph-height;
    width: 90%;
    margin-left: 0;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #E6E7E8;

    align-items: center;
    flex-flow: row wrap;
    align-content: flex-end;
    flex-direction: row-reverse;
  }

  .bar {
    @include awesome-gradient-left;
    position: relative;
    margin: 10px 0;
    height: 40px;
    @media (min-width: 768px) {
      @include awesome-gradient-top;
      height: 400px;
      align-self: flex-end;
    }
    &.current {
      @include current-gradient-left;
      @media (min-width: 768px) {
        @include current-gradient-top;
      }
    }
    .bar-mask {
      background-color: white;
      position: absolute;
      right: 0;
      top: 0;
      max-height: 40px;
      min-height: 40px;
      z-index: 1;
      @media (min-width: 768px) {
        width: 100% !important;
        max-height: none;
        min-height: auto;
      }
    }
  }

  .bar-value {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: -100px;
    &:before {
      content: attr(title);
      font-size: 16px;
      position: absolute;
      display: block;
      width: 100%;
      left: 60px;
      margin: 10px 0;
    }
    @media (min-width: 768px) {
      display: block;
      width: 100%;
      position: static;
      font-size: 0;
      &:before {
        bottom: -30px;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }
    .label,
    .value {
      @include sr-only;
    }
  }

  // Bar width depends on number of bars
  @media (min-width: 768px) {
    .bar:first-child:nth-last-child(1) {
      width: 100%;
    }

    @for $i from 2 through 12 {
      .bar:first-child:nth-last-child(#{$i}),
      .bar:first-child:nth-last-child(#{$i}) ~ .bar {
        width: (100/$i - 3)*1%;
        margin: 0 1.5%;
      }
    }
  }
}